/* 1st part start */
#background{
    background-image: url(./assets/background.png);
    /* width: 100%;
    height: 100vh; */

    width: 1200px;
    height: 640px;
    display: none;
    
  background-repeat: no-repeat;
}
/* body{
    margin:0;
    padding:0;
} */

#hero{
    background-image: url(./assets/hero.png);
    width: 50px;
    height:50px;
    position: absolute;
    top:700px;
    left:550px;
}

.enemy{
    background-image: url(./assets/enemy.png);
    width: 50px;
    height:50px;
    position: absolute;
    /* top:100px;
    left:550px; */
}

.missile{
    background-image: url(./assets/missile1.png);
    width: 10px;
    height:28px;
    position: absolute;
}

#missiles{
    /* height and width of the container =>background , as we want inside the background itself*/
    width: 1200;
    height: 630px;
}
#enemies{
    /* height  as auto and width of the container =>background , as we want inside the background itself*/
    width: 1200;
    height: auto;
}
/* result you win */
.result{
    font-size: 50px;
    width:auto;
    height:70px;
    background-color: white;
    color: black;
    font-family: monospace;
    position: absolute;
    top: 250px;
    left: 20%;
    padding-left: 20px;
  }

  /*  Player Name*/

  .container{
    width: 360px;
    margin: 20px auto 0 auto;
    /* border:1px solid red; */
    text-align: center;
    
}
.enterPlayer{
    background-color: rgb(214, 210, 210);
    height:100px;
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding:25px 15px 0px 15px;
    margin-bottom: 10px;
}

#game{
    background-color: none;
    border-radius: none;
}
.enterPlayer span{
    padding: 4px 4px;
    text-align: center;
    /* background-color: #e9ecef; */
    border-radius: 0.25rem;
}
input{
    width: 63%;
    padding: 4px 4px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 20px;

}
.playerDetails{
    margin-bottom: 5px;
}
button{
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    font-size: 15px;
    padding: 8px;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}